<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>895239338595-bn0betkt85ja7aj5oi5i100nh3c860ef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895239338595-bn0betkt85ja7aj5oi5i100nh3c860ef</string>
	<key>API_KEY</key>
	<string>AIzaSyDDqb8nwow5niil-Lzr7RrMoh4yy90BADQ</string>
	<key>GCM_SENDER_ID</key>
	<string>895239338595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dimFcompany.AuditorApp</string>
	<key>PROJECT_ID</key>
	<string>auditorapp-21a84</string>
	<key>STORAGE_BUCKET</key>
	<string>auditorapp-21a84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895239338595:ios:fa43d3a659fd2847</string>
	<key>DATABASE_URL</key>
	<string>https://auditorapp-21a84.firebaseio.com</string>
</dict>
</plist>